.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.74);
  z-index: 10;
}

.logo {
  font-weight: 500;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}
.menu li:hover a {
  color: #ff6200 !important;
  border-bottom: 5px solid #ff6200;
  padding-bottom: 8px;
}
