.banner {
  background-image: url("/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;

  width: 100vw;
  height: 100vh;
}

.slogan {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 2rem;
  background-color: #fcf8e3;
  font-size: 50px;
  font-weight: bold;
  width: 45%;
  border-radius: 30px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
