.banner {
  /* background-image: url("/banner.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  margin-top: 3rem;

  /* width: 100vw;
  height: 100vh; */
}
